html, body {
  height: 100%;
  font-family: 'Indie Flower', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-image: url(images/dirt.jpg);
}
.container {
  background-color: rgb(223, 233, 206);
  max-width: 1200px;
  padding: 20px;
  padding-bottom: 30px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: rgba(95, 114, 73, 0.616) 2px 2px 2px 2px;
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}


#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 2.5rem;
}

#bombsRemaining {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2.5rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: rgb(241, 252, 229);
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: rgb(237, 247, 232);
}

div.mine, div.mine:hover {
  background: no-repeat center/130% url("images/doggodied.jpg") crimson;
}

div.hidden {
  background: no-repeat center/90% url("images/happy\ doggo.png") rgb(161, 202, 114);
}

div.hidden:hover {
  background: no-repeat center/90% url("images/happy\ doggo.png") rgb(141, 185, 89);
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") rgb(245, 182, 130);
}


button {
  font-family: 'Indie Flower', sans-serif;
  font-size: 2em;
  margin: 10px;
  margin-top: 0px;
  padding: 5px;
  width: 100px;
  background: none;
  background-color: rgb(180, 218, 233);
  border: 1px dotted rgba(16, 39, 48, 0.205);
  border-radius: 7px;
}

button:active {
  background-color: rgb(135, 181, 201);
}

#totalBombs {
  font-size: 1.5rem;
}

#minesLeftToggler {
  font-size: 1em;
  width: 250px;
  margin-left: 23.5%;
  
  
}
.remainingMines {
  color: rgb(223, 233, 206);
}

#reset {
  background-color: rgb(164, 152, 236);
  padding: 10px;
  width: 160px;
  font-size: 3em;
}
button#reset:active {
  background-color: rgb(137, 123, 216);
}

#userControls {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  margin: 10px;
  margin-top: 0px;
  padding: 5px;
  width: 100px;
  background: none;
  background-color: rgb(180, 218, 233);
  border: 1px dotted rgba(16, 39, 48, 0.205);
  border-radius: 7px;
}
a:active {
  background-color: rgb(135, 181, 201);
}

p {
  text-align: center;
}